

.row:after,.row:before{
    display: block;
    content: "";
    clear: both;
}
header{
	border-top:5px solid #aa1f24;
}
body{
	margin: 0px;
}
.container{
	width: 1170px;
	margin: auto;
}
header h1 {
      
    float: left;
    width: 100%;
    color: #aa1f24;
     text-transform: uppercase;
     font-size: 24px;
     margin-top: 36px;
     font-family: 'Josefin Sans', sans-serif;
}
.nav-menu{
    width: 50%;
    float: left;
    margin-top: 17px;
    margin-left: 50px;
}
.nav-menu a {
    text-decoration: none;
}
.nav-menu ul {
    padding: 0px;
    list-style: inline;
}
.nav-menu li {
      display: inline;
    padding-right: 30px;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    line-height: 26px;
    text-decoration: none;
    color: #555555;
    font-weight: 500;
}
.header-top{
    width: 33%;
}

.lang_box{
       width: 20%;
    float: left;
   }
.lang-box p {
    margin-top: -20px;
    margin-left: 40px;
       color: white;
}
 
.lang-box {
    background-color: black;
    float: left;
    width: 10%;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 10px;
}
.slide{
    background-image: url("images/banner11.png");
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slide-2{
    background-image: url("images/spotlight-1.png");
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slider-menu nav {
        padding-top: 5px;
    margin-left: -48px;
    width: 107%;
}
.slider-menu li {
        border-right: 2px solid;
    margin-right: 15px;
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    display: inline;
    padding-right: 10px;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 18px;
}
.slider-menu li:Last-child {
    border-right: none;
}

.header-slider h1 {
        color: white;
    padding-top: 150px;
    font-size: 42px;
    line-height: 46px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    margin-top: 0px;
}
.pargraph-slider p{
       color: white;
    font-size: 23px;
    line-height: 33px;
    width: 47%;
    font-family: 'Roboto', sans-serif;
}
button.red {
        width: 160px;
    height: 50px;
    background-color: #aa1f24;
    border: 0;
    font-family: 'Roboto Slab', serif;
    color: white;
    margin-top: 15px;
    font-size: 14px;
    line-height: 24px;
}
.text-img{
   padding-top: 30px;
    padding-bottom: 30px;
}
.text{
    width: 50%;
    float:left;
    margin-top:40px;
}
.p-styling  {
        width: 87%;
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px;
    color: #555555;
    line-height: 27px;
}
.h1-styling {
    color: #aa1f24;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
        font-size: 42px;
}
.h2-styling{
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: bold;
    color: #555555;
}
.img{
    width: 50%;
    float: right;

}

.text-img-restoration{
   padding-top: 30px;
    padding-bottom: 30px;
}
.text-restoration{
    width: 50%;
    float:left;
    margin-top:40px;
}
.img-restoration{
    width: 50%;
    float: right;
}

.text-img-manuf{
    background-color: #f8f8f9;
    padding-top: 30px;
    padding-bottom: 30px;
}
.img-manuf{
    width: 50%;
    float: left;
}
.text-manuf{
    width: 50%;
    float: right;
}
.text-investment{
     width: 50%;
    float: right;
}
.img-investment{
       width: 50%;
    float: left;
}
.text-img-investment{
       padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f8f8f9;
}
.text-img-actualoffer{
    padding-top: 30px;
    padding-bottom: 30px;
}
.img-actualoffer{
    width: 50%;
    float: right;
}
.text-actualoffer{
    width: 50%;
    float: left;
}
.map-section{
    background-color: #f8f8f9;

}
.map{
    width: 30%;
    float: left;
}
.addres{
      width:18%;
    float: left;
    margin-top: 125px;
    margin-left: 22px;
}
.form{
        width: 29%;
    float: left;
    padding: 44px;
    background-color: white;
    margin-top: 45px;
}

.addres p {
    line-height: 24px;
    font-size: 14px;
   font-family: 'Roboto', sans-serif !important;
     color: #555555;
}
.icon-envelop {
    color: #aa1f24;
    font-size: 20px;
    display: inline-block;
}
.icon-location {
    color: #aa1f24;
    font-size: 20px;
}

input[type="text"] {
    border-radius: 5px solid;
    width: 50%;
    height: 50px;
    border-radius: 2;
    border: 1px solid;
    border-radius: 5px;
}
input[type="email"] {
    width: 48%;
    border: 1px solid;
    border-radius: 5px;
    height: 50px;
}
textarea {
    width: 98%;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 10px;
}
input[type="submit"] {
    width: 98%;
    height: 39px;
    background-color: #aa1f24;
    color: white;
    border: 1px solid;
    border-radius: 5px;
}
.form h1 {
    text-decoration: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999999;
  font-size:15px;
  text-transform:capitalize;
  padding-left: 20px;
}
.footer-style{
background-color: #aa1f24;

}
.footer-menu{
    width: 45%;
    float: left;
    margin-top: 17px;
    margin-left: 50px;
}

.footer-menu ul {
    padding: 0px;
    list-style: inline;
}
.footer-menu li {
        display: inline;
    padding-right: 17px;
    text-transform: capitalize;
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    color: white;
}
.footer-p{
    width: 50%;
    float: right;
}
.footer-p p {
    color: white;
    margin-left: 250px;
    font-size: 12px;
    margin-top: 36px;
}